{% extends 'base.html' %} {% block base %}
<h1>Index page</h1>
<div
  class="w-100 p-3 mx-auto"
  style="
    background-image: url('../static/assets/1_1.png');
    max-width: 1440px;
    margin: 0 auto;
    max-height: 460px;
    height: 460px;
  "
>
  <h3>help us, plz!</h3>
  <p>
    Равным образом, экономическая повестка сегодняшнего дня не даёт нам иного
    выбора, кроме определения прогресса профессионального сообщества. Как
    принято считать, элементы политического процесса рассмотрены исключительно в
    разрезе маркетинговых и финансовых предпосылок.
  </p>
  <form method="POST">
    <input type="text" placeholder="Name" name="name" />
    <input type="email" placeholder="E-mail" name="email" />
    <button type="submit">Send</button>
  </form>
</div>
{% endblock %}
